@import "header-footer.css";

body {
    margin-bottom: 0;
}

.content-container {
    padding: 0 25px 25px 25px;
}

.tab-content > .tab-pane {
    padding-top: 15px;
}

.page-header {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.nav-pills > li.active > a {
    background-color: #777 !important;
}

.custom-tab-content > .tab-pane {
    padding-top: 0 !important;
}

.project-pills {
    border-left: 1px solid #ddd;
    margin-top: -15px;
    min-height: 60%;
    padding-top: 15px;
}

.project-heading {
    background-color: #5d6e89 !important;
    color: white !important;
}

.project-cost-input {
    padding-top: 5px;
    padding-left: 0;
}

.task-heading {
    background-color: #e2e1e1 !important;
    color: black !important;
}